#heroImage{

    @apply rounded-full ring-4 ring-offset-4 ring-offset-zinc-200  dark:ring-offset-zinc-800  ring-slate-500 dark:ring-slate-700 ;
    width: clamp(200px, 30vw , 300px);

}

.text-instagram-gradiant {
    background: #833ab4;
    background: linear-gradient(
            to right,
            #833ab4,#fd1d1d,#fcb045
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}